<!DOCTYPE html>
<html>
<head>
<title>Forgot Password</title>

<style>
body{
background:#20c997;
font-family:Arial;
}

.box{
width:400px;
margin:100px auto;
background:white;
padding:30px;
border-radius:20px;
text-align:center;
}

input{
width:90%;
padding:15px;
margin:15px;
}

button{
background:#157347;
color:white;
padding:15px;
width:90%;
border:none;
border-radius:10px;
font-size:18px;
}
</style>

</head>

<body>

<div class="box">

<h2>Forgot Password</h2>

<form method="POST">

<input type="email" name="email"
placeholder="Enter Email">

<button>
Submit
</button>

</form>

</div>

</body>
</html>